@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
   
}

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
    
}

<div class = "row justify-content-center align-items-center mt-5">
    <form asp-action="Index" class="row col-8 offset-2">
        <div class="col-8">
            <input type="text" class="form-control" name="seaechInp" placeholder="Search By name" />
        </div>

        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />

        </div>
          
    </form>
</div>

<h1>All Employees</h1> 
<br />
<br />
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create new Employee</a>
<br />
@if(Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(D => D.Image)</th>
                <th>@Html.DisplayNameFor(D => D.Name)</th>
                <th>@Html.DisplayNameFor(D => D.Age)</th>
                <th>@Html.DisplayNameFor(D => D.Salary)</th>
                <th>@Html.DisplayNameFor(D => D.Address)</th>

                <th>@Html.DisplayNameFor(D => D.IsACtive)</th>
                <th>@Html.DisplayNameFor(D => D.Email)</th>
                <th>@Html.DisplayNameFor(D => D.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(D => D.HireDate)</th>

                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var Employee in Model)
            {
                <tr>
                    <td>

                        <img src="~/files/Images/@Employee.ImageName" width="75" class="img-fluid rounded-circle" />
                        
                    </td>
                    <td>@Employee.Name</td>
                    <td>@Employee.Age</td>
                    <td>@Employee.Salary</td>
                    <td>@Html.DisplayFor(m => Employee.Address)</td>
                    <td>@Html.DisplayFor(m =>Employee.IsACtive)</td>
                    <td>@Html.DisplayFor(m => Employee.Email)</td>
                    <td>@Employee.PhoneNumber</td>
                    <td>@Employee.HireDate</td>
                    <partial name="_ButtonsPartial" model="@Employee.Id.ToString()" />

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There is No Employee </h3>
    </div>
}

